<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .not-enough-directors {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы сервиса</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Позиция</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="directors, index: ${directors}">
            <td th:text="${directors.getDirectorFio()}"></td>
            <td th:text="${directors.getPosition()}"></td>

            <td ><div class="col">
                <a th:href="@{/directors/remove/{id}(id=${directors.getId()})}"
                   th:attr="data-directors-id=${directors.getId()}"
                   class="btn btn-secondary"
                   role="button"
                   style="..."
                   aria-disabled="true">Удалить
                </a>

</div>
            </td>
            <td ><div class="col">
                <a th:href="@{/directors/moderation/edit/{id}(id=${directors.getId()})}"
                   th:attr="data-directors-id=${directors.getId()}"
                   class="btn btn-secondary"
                   role="button"
                   style="..."
                   aria-disabled="true">Изменить
                </a>

            </div></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>