<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редактировать фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Редактировать фильм</h3>
<form style="max-width: 50vw" method="POST" th:action="@{/directors/update/{id}(id=${id})}" th:object="${directorForm}">

    <div class="mb-3">
        <label for="directors_fio" class="form-label">ФИО Директора</label>
        <input name="directorFio" type="text" class="form-control" id="directors_fio" th:value="${directorForm.directorFio}">
    </div>
    <div class="mb-3">
        <label for="position" class="form-label">Позиция</label>
        <input name="position" type="text" class="form-control" id="position" th:value="${directorForm.position}">
    </div>
    <div>
        <div>
            <label for="selectedFilms" class="form-label">Добавить фильмы</label>
            <select class="form-select" name="selectedFilms" id="selectedFilms" multiple>
                <option th:each="film : ${AllFilms}"
                        th:value="${film.id}" th:text="${film.filmTitle}"></option>
            </select>
        </div>
        <div>
            <label for="removedFilms" class="form-label">Удалить фильмы</label>
            <select class="form-select" name="removedFilms" id="removedFilms" multiple>
                <option th:each="film : ${directorFilms}"
                        th:value="${film.id}" th:text="${film.filmTitle}"></option>
            </select>
        </div>
</div>
    <button type="submit" class="btn btn-primary">Сохранить</button>
    <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
</form>
</div>
</body>
</html>