<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .not-enough-director {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Директоры</h1>
    <div class="row">
        <div class="col">
            <a href="directors/add"
               class="btn btn-secondary"
               role="button"
               style="..."
               aria-disabled="true">Добавить директора
            </a>
        </div>
        <div class="col">
            <a href="directors/moderation"
               class="btn btn-secondary"
               role="button"
               style="..."
               aria-disabled="true">Управлять директорами
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">ФИО</th>
            <th scope="col">Позиция</th>
            <th scope="col">Фильмы</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="directors, index: ${directors}">
            <td th:text="${directors.getDirectorFio()}"></td>
            <td th:text="${directors.getPosition()}"></td>
            <td th:text="${{filmsTitles[__${index.index}__]}}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>[