<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .not-enough-film {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы сервиса</h1>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Авторы</th>
            <th scope="col">Жанр</th>
            <th scope="col">Дата премьеры</th>
            <th scope="col">Страна</th>
            <th scope="col"></th>
            <th scope="col"></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="films: ${films}">
            <td th:text="${films.getFilmTitle()}"></td>
            <td th:text="${films.getDirectorIds()}"></td>
            <td th:text="${films.getGenre()}"></td>
            <td th:text="${films.getPremiereDate()}"></td>
            <td th:text="${films.getCountry()}"></td>
            <td ><div class="col">
                <a th:href="@{/films/remove/{id}(id=${films.getId()})}"
                   th:attr="data-film-id=${films.getId()}"
                   class="btn btn-secondary"
                   role="button"
                   style="..."
                   aria-disabled="true">Удалить
                </a>

</div></td>
            <td ><div class="col">
                <a th:href="@{/films/moderation/edit/{id}(id=${films.getId()})}"
                   th:attr="data-film-id=${films.getId()}"
                   class="btn btn-secondary"
                   role="button"
                   style="..."
                   aria-disabled="true">Изменить
                </a>

            </div></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>