<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Редактировать фильм</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3">Редактировать фильм</h3>
    <form style="max-width: 50vw" method="POST" th:action="@{/films/update/{id}(id=${id})}" th:object="${filmForm}">
        <div class="mb-3">
            <label for="title" class="form-label">Название</label>
            <input name="filmTitle" type="text" class="form-control" id="title" th:value="${filmForm.filmTitle}">
        </div>
        <div class="mb-3">
            <label for="genre" class="form-label">Жанр</label>
            <select class="form-select" name="genre" id="genre">
                <option selected>Выберете жанр из списка:</option>
                <option th:each="genre : ${T(com.jpc16tuesday.springliblaryproject.library.model.Genre).values()}"
                        th:value="${genre}" th:text="${genre.getGenreTextDisplay()}" th:selected="${filmForm.genre == genre}"></option>
            </select>
        </div>
        <div class="mb-3">
            <label for="premiere_year" class="form-label">Дата выхода</label>
            <input name="premiereDate" type="text" class="form-control" id="premiere_year" th:value="${filmForm.premiereDate}">
        </div>
        <div class="mb-3">
            <label for="country" class="form-label">Страна</label>
            <input name="country" type="text" class="form-control" id="country" th:value="${filmForm.country}">
        </div>
        <button type="submit" class="btn btn-primary">Сохранить</button>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </form>
</div>
</body>
</html>