<!DOCTYPE html>
<html lang="en"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <style>
        .not-enough-film {
            color: red;
        }
    </style>
</head>
<body>
<div layout:fragment="content">
    <h1>Все фильмы сервиса</h1>
    <div class="row">
        <div class="col">
            <a href="films/add"
               class="btn btn-secondary"
               role="button"
               style="..."
               aria-disabled="true">Добавить фильм
            </a>
        </div>
        <div class="col">
            <a href="films/moderation"
               class="btn btn-secondary"
               role="button"
               style="..."
               aria-disabled="true">Управлять фильмами
            </a>
        </div>
    </div>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Название</th>
            <th scope="col">Авторы</th>
            <th scope="col">Жанр</th>
            <th scope="col">Дата премьеры</th>
            <th scope="col">Страна</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="films, index: ${films}">
            <td th:text="${films.getFilmTitle()}"></td>
            <td th:text="${directorFIOs[__${index.index}__]}"></td>
            <td th:text="${films.getGenre()}"></td>
            <td th:text="${films.getPremiereDate()}"></td>
            <td th:text="${films.getCountry()}"></td>
        </tr>
        </tbody>
    </table>
</div>
</body>
</html>